from random import randint

#масив с буквами 0-25 буквы 26-61 цыфры
simbolsENG = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0','1','3','4','5','6','7','8','9','0','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
simbolsSpecENG = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0','1','3','4','5','6','7','8','9','0','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','!','@','#','$','%','^','&','*','(',')','+','_','=','№']
#масив с русскими буквами и цыфрами 0-77
simbolsRus = ['а','б','в','г','д','у','е','ё','ж','з','и','й','к','л','м','н','о','п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я','0','1','2','3','4','5','6','7','8','9','0','А','Б','В','Г','Д','Е','Ё','Ж','З','И','Й','К','Л','М','Н','О','П','Р','С','Т','У','Ф','Х','Ц','Ч','Ш','Щ','Ъ','Ы','Ь','Э','Ю','Я']
simbolsSpecRus = ['а','б','в','г','д','у','е','ё','ж','з','и','й','к','л','м','н','о','п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я','0','1','2','3','4','5','6','7','8','9','0','А','Б','В','Г','Д','Е','Ё','Ж','З','И','Й','К','Л','М','Н','О','П','Р','С','Т','У','Ф','Х','Ц','Ч','Ш','Щ','Ъ','Ы','Ь','Э','Ю','Я','!','@','#','$','%','^','&','*','(',')','+','_','=','№']
#массив смешиными буквами 0 - 139
simbolsRusAndEng = ['а','б','в','г','д','у','е','ё','ж','з','и','й','к','л','м','н','о','п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я','0','1','2','3','4','5','6','7','8','9','0','А','Б','В','Г','Д','Е','Ё','Ж','З','И','Й','К','Л','М','Н','О','П','Р','С','Т','У','Ф','Х','Ц','Ч','Ш','Щ','Ъ','Ы','Ь','Э','Ю','Я','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0','1','3','4','5','6','7','8','9','0','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
simbolsSpecRusAndEng = ['а','б','в','г','д','у','е','ё','ж','з','и','й','к','л','м','н','о','п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я','0','1','2','3','4','5','6','7','8','9','0','А','Б','В','Г','Д','Е','Ё','Ж','З','И','Й','К','Л','М','Н','О','П','Р','С','Т','У','Ф','Х','Ц','Ч','Ш','Щ','Ъ','Ы','Ь','Э','Ю','Я','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0','1','3','4','5','6','7','8','9','0','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','!','@','#','$','%','^','&','*','(',')','+','_','=','№']
#масив паролей
passWord = []
#Принимаем длину пароля
typeLung = input("Введите язык: RUS ; ENG ; EaR ; - смешанный;Поставте вначале 's' что-бы использовать спецсимбволы").lower()
rassLengh = input("Введите размер пароля: ")
def newPasswordENG(lengh):
    i = 0
    while i <= int(lengh):
        passWord.append(simbolsENG[randint(0,61)])
        i += 1
    compileList = ''.join(passWord)
    print(compileList)
def newPasswordRUS(lengh):
    i = 0
    while i <= int(lengh):
        passWord.append(simbolsRus[randint(0,77)])
        i += 1
    compileList = ''.join(passWord)
    print(compileList)
def newPasswordRUSAndENG(lengh):
    i = 0
    while i <= int(lengh):
        passWord.append(simbolsRusAndEng[randint(0,139)])
        i += 1
    compileList = ''.join(passWord)
    print(compileList)
def newPasswordSpecENG(lengh):
    i = 0
    while i <= int(lengh):
        passWord.append(simbolsSpecENG[randint(0,75)])
        i += 1
    compileList = ''.join(passWord)
    print(compileList)
def newPasswordSpecRUS(lengh):
    i = 0
    while i <= int(lengh):
        passWord.append(simbolsSpecRus[randint(0,91)])
        i += 1
    compileList = ''.join(passWord)
    print(compileList)
def newPasswordSpecRUSAndENG(lengh):
    i = 0
    while i <= int(lengh):
        passWord.append(simbolsSpecRusAndEng[randint(0,153)])
        i += 1
    compileList = ''.join(passWord)
    print(compileList)
if typeLung == "rus":
    newPasswordRUS(rassLengh)
elif typeLung == "eng":
    newPasswordENG(rassLengh)
elif typeLung == "ear":
    newPasswordRUSAndENG(rassLengh)

elif typeLung == "srus":
    newPasswordSpecRUS(rassLengh)
elif typeLung == "seng":
    newPasswordSpecENG(rassLengh)
elif typeLung == "sear":
    newPasswordSpecRUSAndENG(rassLengh)
else:
    print("Не известный язык!")
input()
